<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="message">
      <div class="head">
        <h3>Subject:  <%= @ticket.subject %></h3>
        <span><%= @ticket.created_at.strftime("%m/%d/%Y - %I:%M%p") %></span>
      </div>
      <div class="mail">
        <p><%= @ticket.content %></p>
      </div>
    </div>
  </div>
</div>
